

/* Basic page style resets */
* {
  box-sizing: border-box;
  margin: 0px;
  
}

.container {
  display: grid; 
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100vh;
  margin: 0px;
  overflow-y: hidden;
  background-color: rgb(255, 234, 215);
  
}

header {
  grid-area: 1 / 1 / 5 / 2;
  position: fixed;
  margin: 20px;
  padding: 4px;
  border: 2px;
  font-family: "Irish Grover", Josefin Sans, sans-serif;
}

h1 {
  text-align: left;
  font-size: 1.5em;
  margin: 0;
  color: #BF5700;
}

.directions p {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
}

.lorax-quote {
  grid-area: 2 / 1 / 3 / 1;
  text-align: left;
  font-size: 1.5em;
  text-wrap: wrap;
  padding: 4px;
  border: 6px;
  margin: 12px;
  position: fixed;
  font-family: "Josefin Sans", sans;
}

.directions {
  grid-area: 4 / 1 / 5 / 3;
  margin-left: 10%;
  padding: 6px 4px 12px 0px;
  border: 4px;

}

ol {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

details.seen{
  margin-left: 10%;
}

.seen:not(:open) {
    summary {

      &::marker {
        content: url("images/unless.png");
        max-width: 20px;
        max-height: 10px;
        font-family: "Josefin Sans", sans-serif;
      }

      &::after {
        content: "not seen";
        color: #D22DE1;
        font-family: "Josefin Sans", sans-serif;
      }

    }

  }

.seen{
  margin-top: 8px;
  font-family: "Josefin Sans", sans-serif;
}
.seen:open {
    summary {
      &::marker {
        content: url("images/Seen.png");
      }

      &::after {
        color: #3DC1D5;
        content: "seen!";
      }

    }

  }

.map {
  margin-bottom: 8px;

}
a.map {
  color: #BF5700;
  text-decoration: none; 
  font-family: "Josefin Sans", sans;
  padding: 4px 6px 1px 0px;
  border: 4px;
  margin-right: 10%;
  text-wrap: wrap;
}

a.map:link {
  color: #BF5700; 
}

a.map:visited {
  color: #BF5700; 
}

a.map:hover {
  color: #3DC1D5; 
}

a.map:active {
  color: red; 
}

/* .first-panel {
  background-color: lightblue;
  grid-area: 8 / 1 / 20 / 3;s
} */

/* .second-panel {
  background-color: lightgray;
  grid-area: 8 / 3 / 20 / 8;
} */

.scroll-frame {
  grid-area: 5 / 1 / 10 / 3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100%;
  gap: 10px;
  margin-left: 10%;
  width: 250%;
  overflow-x: auto;
}

.first-plant-item {
  grid-area: 1 / 1 / 6 / 2 ;
  padding-left: 12px;
}

.first-plant-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 50px;
}


.second-plant-item {
  grid-area: 1 / 2 / 6 / 3 ;
  padding-left: 12px;
}

.second-plant-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 50px;
}

.third-plant-item {
  grid-area: 1 / 3 / 6 / 4 ;
  padding-left: 12px;
}

.third-plant-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 50px;
}

.fourth-plant-item {
  grid-area: 1 / 4 / 6 / 5 ;
  padding-left: 12px;
}

.fourth-plant-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 50px;
}

.fifth-plant-item {
  grid-area: 1 / 5 / 6 / 6 ;
  padding-left: 12px;
}

.fifth-plant-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 50px;
}

.sixth-plant-item {
  grid-area: 1 / 6 / 6 / 7 ;
  padding-left: 12px;
}

.sixth-plant-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 50px;
}

.seventh-plant-item {
  grid-area: 1 / 7 / 6 / 8 ;
  padding-left: 12px;
}

.seventh-plant-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 50px;
}

.eighth-plant-item {
  grid-area: 1 / 8 / 6 / 9 ;
  padding-left: 12px;
}

.eighth-plant-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 50px;
}

.ninth-plant-item {
  grid-area: 1 / 9 / 6 / 10 ;
  padding-left: 12px;
}

.ninth-plant-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 50px;
}

.tenth-plant-item {
  grid-area: 1 / 10 / 6 / 11 ;
  padding-left: 12px;
}

.tenth-plant-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 50px;
}

.first-unless {
  grid-area: 6 / 1 / 7 / 2 ;
  padding: 12px;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-family: "Irish Grover",sans-serif;
  font-size: 1.3em;
}

.second-unless {
  grid-area: 6 / 2 / 7 / 3 ;
  padding: 12px;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-family: "Irish Grover", sans-serif;
  font-size: 1.3em;
}

.third-unless {
  grid-area: 6 / 3 / 7 / 4 ;
  padding: 12px;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-family: "Irish Grover", sans-serif;
  font-size: 1.3em;
}

.fourth-unless {
  grid-area: 6 / 4 / 7 / 5 ;
  padding: 12px;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-family: "Irish Grover", sans-serif;
  font-size: 1.3em;
}

.fifth-unless {
  grid-area: 6 / 5 / 7 / 6 ;
  padding: 12px;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-family: "Irish Grover", sans-serif;
  font-size: 1.3em;
}

.sixth-unless {
  grid-area: 6 / 6 / 7 / 7 ;
  padding: 12px;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-family: "Irish Grover", sans-serif;
  font-size: 1.3em;
}

.seventh-unless {
  grid-area: 6 / 7 / 7 / 8 ;
  padding: 12px;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-family: "Irish Grover", sans-serif;
  font-size: 1.3em;
}

.eighth-unless {
  grid-area: 6 / 8 / 7 / 9 ;
  padding: 12px;
  justify-items: center;
  text-align: center;
  font-family: "Irish Grover", sans-serif;
  font-size: 1.3em;
  align-items: center;
}

.ninth-unless {
  grid-area: 6 / 9 / 7 / 10 ;
  padding: 12px;
  justify-items: center;
  text-align: center;
  font-family: "Irish Grover", sans-serif;
  align-items: center;
  font-size: 1.3em;
}

.tenth-unless {
  grid-area: 6 / 10 / 7 / 11 ;
  padding: 12px;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-family: "Irish Grover", sans-serif;
  font-size: 1.3em;
}

@media only screen and (max-width: 700px) {
  header {
    font-size: 30px;
  }
  .lorax-quote {
    font-size: 18px;
   
  }
  .scroll-frame {
  width: 600%;
}
 
 .map {
    font-size: 14px;
   }
 
  .first-unless {
    font-size: 12px;
  }

  .second-unless {
    font-size: 12px;
  }

  .third-unless {
    font-size: 12px;
  }

  .fourth-unless {
    font-size: 12px;
  }

  .fifth-unless {
    font-size: 12px;
  }

  .sixth-unless {
    font-size: 12px;
  }

  .seventh-unless {
    font-size: 12px;
  }

  .eighth-unless {
    font-size: 12px;
  }

  .ninth-unless {
    font-size: 12px;
  }
 
  .tenth-unless {
    font-size: 12px;
  }
  .plant-facts {
    font-size: 10px;
  }

  .info-list {
    font-size: 10px;
  }
  
}

@media only screen and (min-width: 800px) {
  header {
  font-size: 40px;
  }
  .lorax-quote {
    font-size: 24px;
  }
  
   .map {
    font-size: 16px;
   }
   .first-unless {
    font-size: 14px;
  }

  .second-unless {
    font-size: 14px;
  }

  .third-unless {
    font-size: 14px;
  }

  .fourth-unless {
    font-size: 14px;
  }

  .fifth-unless {
    font-size: 14px;
  }

  .sixth-unless {
    font-size: 14px;
  }

  .seventh-unless {
    font-size: 14px;
  }

  .eighth-unless {
    font-size: 14px;
  }

  .ninth-unless {
    font-size: 14px;
  }
 
  .tenth-unless {
    font-size: 14px;
  }
  .plant-facts {
    font-size: 14px;
  }

  .info-list {
    font-size: 12px;
}
  
}
  

@media only screen and (max-height: 700px) and (orientation: landscape) {
  header {
    font-size: 16px;
  }
  .lorax-quote {
    font-size: 16px;
   
  }
  .scroll-frame {
  width: 200%;
}
 
 .map {
    font-size: 12px;
   }

  .directions p {
    font-size: 16px;
    margin-bottom: 0px;
  }
 
  .first-unless {
    font-size: 12px;
  }

  .second-unless {
    font-size: 12px;
  }

  .third-unless {
    font-size: 12px;
  }

  .fourth-unless {
    font-size: 12px;
  }

  .fifth-unless {
    font-size: 12px;
  }

  .sixth-unless {
    font-size: 12px;
  }

  .seventh-unless {
    font-size: 12px;
  }

  .eighth-unless {
    font-size: 12px;
  }

  .ninth-unless {
    font-size: 12px;
  }
 
  .tenth-unless {
    font-size: 12px;
  }
  .plant-facts {
    font-size: 10px;
  }

  .info-list {
    font-size: 10px;
  }

  .seen:not(:open) {
    summary {

      &::marker {
        content: url("images/unless.png");
        max-width: 20px;
        max-height: 10px;
        font-family: "Josefin Sans", sans-serif;
      }

      &::after {
        content: "not seen";
        color: #D22DE1;
        font-family: "Josefin Sans", sans-serif;
      }

    }

  }

.seen{
  margin-top: 8px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 8px;
}
.seen:open {
    summary {
      &::marker {
        content: url("images/Seen.png");
      }

      &::after {
        color: #3DC1D5;
        content: "seen!";
      }

    }

  }


}

/* ---------------------------------------------------
------------------------------------------------------
-------------------- Plant info ----------------------
------------------------------------------------------
------------------------------------------------------ */


.plant-container {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  overflow-y: hidden;
}

h1.plant-name {
  font-family: "Irish Grover", Josefin, sans;
  font-size: 3em;
}

.plant-image-1 {
  grid-area: 1 / 1 / -1 / 2;
}

.plant-image-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.plant-image-3 {
  grid-area: 1 / 1 / -1 / 2;
}

.plant-image-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.plant-image-4 {
  grid-area: 1 / 1 / -1 / 2;
}

.plant-image-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.plant-image-9 {
  grid-area: 1 / 1 / -1 / 2;
}

.plant-image-9 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.plant-facts {
  grid-area: 1 / 2 / -1 / 4;
  background-color: rgb(255, 218, 246);
  padding: 10%;
  font-family: "Josefin Sans", sans;
}

.info-list {
  font-family: "Josefin Sans", sans;
  margin-top: 10%;
  font-size: 2em;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

a.back-button {
  position: absolute;
  color: white;
  text-decoration: none; 
  font-size: 1.2em;
  font-family: "Irish Grover", sans-serif;
  top: 2rem;
  left: 2rem;
  z-index: 1;
}

a.back-button:link {
  color: white; 
}

a.back-button:visited {
  color: white; 
}

a.back-button:hover {
  color: white; 
}

a.back-button:active {
  color: white; 
}

@media only screen and (max-width: 700px) {

  .plant-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

  .plant-image-1 img {
    grid-area: 1 / 1 / 3 / 2;
    display: block;
    width: 100%;
    height: auto;
   
}

  .plant-facts {
    grid-area: 2 / 1 / 4 / 2;
    border: 10%;
    font-size: 12px;
  }

  .plant-image-3 img {
    grid-area: 1 / 1 / 3 / 2;
    display: block;
    width: 100%;
    height: auto;
   
}

  .plant-image-4 img {
    grid-area: 1 / 1 / 3 / 2;
    display: block;
    width: 100%;
    height: auto;
   
}

 .plant-image-9 img {
    grid-area: 1 / 1 / 3 / 2;
    display: block;
    width: 100%;
    height: auto;
}

}

/* ---------------------------------------------------
------------------------------------------------------
-------------------- Map and Key ---------------------
------------------------------------------------------
------------------------------------------------------ */

.home {
  color: white;
  font-family: "Irish Grover", sans-serif;
  font-size: 2em;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.home img {
  display: block;
  width: 100%;
  height: auto;
  max-width: none;
}

a.home-button {
  color: white;
  text-decoration: none; 
  font-size: 1em;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1;
}

a.home-button:link {
  color: white; 
}

a.home-button:visited {
  color: white; 
}

a.home-button:hover {
  color: #BF5700; 
}

a.home-button:active {
  color: #BF5700; 
}
